

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.answers li {
	margin: 0;
	padding: 0;
	width: 49%;
	height: 300px;
	display: inline-block;
	overflow: auto;
}
.answers li img {
	margin-top: -15%;
	width: 100%;
	hegiht: 100%;
}